body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display: flex;
    padding-bottom: 140px;
}
.web-portfolio{
    width: 50%;
    padding-left: 3%;

}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
.web-portfolio img{
    width: 80%;
}
.hire-me-button{
 padding: 10px 40px;
 text-decoration: none;
 background-color: orange;
 color: white;
 background-image: linear-gradient(#bd9c0c,#FFB02A);
 border-radius: 10px;
 font-weight: 700;
}
.top-beanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.fiverr-button{padding: 10px 100px;
    text-decoration: none;
    background-color: orange;
    color: white;
    background-image: linear-gradient(orange,rgba(161, 12, 12, 0.849));
    border-radius: 5px;
    font-weight: 700;

}
.fiverr-gig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}