body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
.flexible-container{
    display: flex;
    padding-bottom: 140px;
   
}
.web-portfolio{
    width: 50%;
    padding-left: 3%;

}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.web-portfolio img{
    width: 80%;
}
.hire-me-button{
 padding: 10px 40px;
 text-decoration: none;
 background-color: orange;
 color: white;
 background-image: linear-gradient(#bd9c0c,#FFB02A);
 border-radius: 10px;
 font-weight: 700;
}
.top-beanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.fiverr-button{padding: 10px 100px;
    text-decoration: none;
    background-color: orange;
    color: white;
    background-image: linear-gradient(orange,rgba(161, 12, 12, 0.849));
    border-radius: 5px;
    font-weight: 700;

}
.fiverr-gig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experience-shadwo{
    box-shadow: 10px 1px 40px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    width: 50%;
    border-radius: 10px;
    border-left: 10px solid #FB6756;
}
#item{
    border-left: 10px solid blue;
}
.exp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.blue-color{
    color: peru;
}
.white-color{
    color: grey;
}
footer p{
    text-align: center;
}